html {
  scroll-behavior: smooth;
  animation: focus 3s ease-out;
}

@keyframes focus {
  from {
    transform: scale(1.008);
    filter: blur(4px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: none;
    opacity: 1;
  }
}

.Hellopage {
  background: url('../../../assets/img/backgrounds/webbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /*animation: focus 3s ease-out;*/
  margin: 0;
}

.Hellopage-content {
  /*background: rgba(255,0,0,0.43);*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*position: absolute;*/
}

@media (max-width: 500px) {
  .Hellopage-content {
    position: absolute;
  }
}

.big-logo {
  width: 600px;
  margin: 3rem;
  margin-top: 2rem;
  transition-duration: 3s;
}

@media (max-width: 768px) {
  .big-logo {
    width: 550px;
    margin: 3rem;
    margin-top: 2rem;
  }
}

@media (max-width: 595px) {
  .big-logo {
    width: 430px;
    margin: 3rem;
    margin-top: 7rem;
  }
}

@media (max-width: 500px) {
  .big-logo {
    width: 390px;
    margin: 3rem;
    margin-top: 7rem;
  }
}

@media (min-width: 1400px) {
  .Hellopage-content {
    align-items: flex-start;
  }
}

@media (max-width: 1400px) {
  .hyperbox {
    width: 320px;
  }
}

.hyperbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline {
  color: white;
  font-family: 'Raleway';
  margin-top: -6rem;
  margin-bottom: 11rem;
  text-align: center;
}

.scroll-button {
  margin-top: -3rem;
}

.material-icons.arrow {
  font-size: 58px;
  color: white;
  margin-top: -6rem;
  user-select: none;
  animation: arrowmo 2s ease-in-out infinite;
  /*background: rgb(0,117,255);*/
}

@keyframes arrowmo {
  from, to {
    transform: translate(0px,0px);
  }
  50% {
    transform: translate(0px, 5px);
  }
}

